.pieContainer {
    height: 300px;
    width: 300px;
    position: relative;
}

.hold {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    clip: rect(0px, 300px, 300px, 150px);
}

.pie {
    transition: all 1s;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    clip: rect(0px, 300px, 300px, 0px);
}

/* Ajuste para calcular o tamanho proporcional das fatias */
.pie:nth-child(1) {
    clip: rect(0px, 150px, 300px, 0px);
}

.pie:nth-child(2) {
    clip: rect(0px, 300px, 150px, 0px);
}

.pie:nth-child(3) {
    clip: rect(150px, 300px, 300px, 0px);
}

.pie:nth-child(4) {
    clip: rect(150px, 300px, 300px, 0px);
}

.pie:nth-child(5) {
    clip: rect(0px, 150px, 300px, 0px);
}

.pie:nth-child(6) {
    clip: rect(0px, 300px, 150px, 0px);
}

.pie:nth-child(7) {
    clip: rect(150px, 300px, 300px, 0px);
}

.pie:nth-child(8) {
    clip: rect(150px, 300px, 300px, 0px);
}

.pie:nth-child(9) {
    clip: rect(0px, 150px, 300px, 0px);
}

.pie:nth-child(10) {
    clip: rect(0px, 300px, 150px, 0px);
}

.pie:nth-child(11) {
    clip: rect(150px, 300px, 300px, 0px);
}

#pieSlice1 .pie {
    background-color: #1b458b;
    transform: rotate(30deg);
    z-index: 1;
}

#pieSlice2 .pie {
    background-color: #adba22;
    transform: rotate(60deg);
    z-index: 2;
}

#pieSlice3 .pie {
    background-color: #0a0;
    transform: rotate(60deg);
    z-index: 3;
}

#pieSlice4 .pie {
    background-color: #f80;
    transform: rotate(120deg);
    z-index: 4;
}

#pieSlice5 .pie {
    background-color: crimson;
    transform: rotate(60deg);
    z-index: 5;
}

#pieSlice6 .pie {
    background-color: #08f;
    transform: rotate(180deg);
    z-index: 6;
}

#pieSlice7 .pie {
    transform: rotate(60deg);
    background-color: #a04;
    z-index: 7;
}

#pieSlice8 .pie {
    background-color: #ffd700;
    transform: rotate(240deg);
    z-index: 8;
}

#pieSlice9 .pie {
    transform: rotate(60deg);
    z-index: 9;
}

#pieSlice10 .pie {
    background-color: cyan;
    transform: rotate(300deg);
}

.innerCircle .content {
    position: absolute;
    display: block;
    width: 500px;
    top: 30px;
    left: 0;
    text-align: center;
    font-size: 14px;
}